body {
  background: #f8f9fa;
}
#productsTable tr {
  cursor: pointer;
}
#productsTable tr:hover {
  background: #f1f1f1;
}
img {
  max-width: 100%;
}

/* small responsiveness tweaks */
@media (max-width: 576px) {
  #productsTable img {
    width: 60px;
    height: 40px;
  }
}
